<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>$title$</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/haskell/global.css" />
        <link rel="stylesheet" type="text/css" href="/css/haskell/site-header.css" />
        <link rel="stylesheet" type="text/css" href="/css/haskell/site-footer.css" />
        <link rel="stylesheet" type="text/css" href="/css/haskell/headings.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <header class="site-header">
            <div class="site-header-logo">
                <img src="/logo/ic_haskell_grayscale_48.svg" alt="Haskell Logo">
                <span class="hide l-show">Haskell Package Versioning Policy</span>
                <span class="hide s-show l-hide">Haskell PVP</span>
                <span class="s-hide">PVP</span>
            </div>

            <nav class="site-header-navigation">
                <a class="site-header-navigation-item site-header-navigation-item--selected" href="/">Specification</a>
                <a class="site-header-navigation-item" href="/faq">FAQ</a>
            </nav>
        </header>

        <div id="container">
            $body$
        </div>

        <footer class="site-footer">
          If you'd like suggest changes, please <a href="https://github.com/haskell/pvp/issues">open an issue on GitHub</a>.
        </footer>
    </body>
</html>
